<link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Dosis:wght@200;400&display=swap" rel="stylesheet">

<footer class="bg-light text-center text-lg-start" style="margin-top: 2%;">
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: #212529;; font-size: 13px; color: antiquewhite;">
      © 2021 Copyright:
      <a class="text-white" href="https://github.com/taysamendes/projeto-pdist">Github.com</a>
    </div>
    <!-- Copyright -->
  </footer>