footer {
    position: sticky;
    padding-top: 73px;

}

.text-uppercase {
    font-size: 22px;
    font-family: 'Comfortaa', cursive;
    font-family: 'Dosis', sans-serif;
}
.texto-footer {
    font-size: 15px;
    font-family: 'Comfortaa', cursive;
    font-family: 'Dosis', sans-serif;
}

.text-white{
    color: antiquewhite;
}