<link href="https://fonts.googleapis.com/css2?family=Dosis:wght@500;800&display=swap" rel="stylesheet">

<div class="container">

    <h3 class="font"><strong>Currículos</strong></h3>

    <div class="card-group">
        <div class="card">
            <img src="https://i.imgur.com/YE4STpY.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title font">Fulano Beltrano da Silva</h5>
                <p class="card-text font">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary font" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    Ver currículo
                </button>

                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title font" id="exampleModalLabel">Fulano Beltrano da Silva</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="font"><strong>Email:</strong> fulano@gmail.com</div>
                                <div class="font">Email: fulano@gmail.com</div>
                                <div class="font">Email: fulano@gmail.com</div>
                                <div class="font">Email: fulano@gmail.com</div>
                                <div class="font">Email: fulano@gmail.com</div>
                                <div class="font">Email: fulano@gmail.com</div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary font" data-bs-dismiss="modal">Fechar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card">
            <img src="https://i.imgur.com/YE4STpY.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title font">Fulano Beltrano da Silva</h5>
                <p class="card-text font">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <a href="#" class="btn btn-primary font">Go somewhere</a>
            </div>
        </div>

        <div class="card">
            <img src="https://i.imgur.com/YE4STpY.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title font">Fulano Beltrano da Silva</h5>
                <p class="card-text font">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <a href="#" class="btn btn-primary font">Go somewhere</a>
            </div>
        </div>
    </div>
</div>